@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1440px;
}

@layer components {
  .header {
    /* only 16?? */
    @apply flex justify-between  px-20 py-4;
  }

  .midItems {
    @apply flex items-center;
  }

  .logo {
    @apply text-3xl;
  }

  .menus {
    @apply flex gap-6 text-base mr-12 text-gray-600 font-medium;
  }

  .theme {
    @apply mr-5 text-gray-600;
  }

  .downCv {
    /* 32?? */
    @apply text-gray-50 w-32 h-9 rounded-xl bg-gray-900;
  }
}

@layer components {
  .hero {
    @apply py-24 px-20 flex justify-between;
  }

  h1 {
    @apply text-6xl font-bold text-gray-900 mb-4;
  }

  p {
    @apply text-base font-normal text-gray-600;
  }

  .desc {
    @apply max-w-screen-md h-20 mb-12;
  }

  .location {
    @apply flex gap-2 items-center mb-2;
  }

  .icons {
    @apply mt-12 flex gap-4;
  }

  .Bright {
    /* ?? */
    @apply w-96 h-80 border-solid bg-gray-400;
  }
}

@layer components {
  .about {
    @apply py-24 px-20 bg-gray-50;
  }

  .titCont {
    @apply w-full flex justify-center items-center  mb-12;
  }

  .title {
    @apply text-sm font-medium text-gray-600 bg-gray-200 rounded-xl py-1 px-5 w-28;
  }

  .body {
    @apply flex gap-12 justify-between;
  }

  .aboutL {
    /* ??? */
    @apply min-w-96 h-96 bg-gray-500;
  }

  .aboutR {
    @apply max-w-xl flex flex-col gap-4;
  }

  .aboutR h3 {
    @apply mb-2 font-semibold text-3xl text-gray-900;
  }

  .aboutR p {
    @apply font-normal text-base text-gray-600;
  }

  .ul {
    @apply ml-7 flex gap-2;
  }

  .ul ul {
    @apply w-72 list-disc font-normal text-base text-gray-600;
  }
}
